<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello, world!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
  <link rel="style" href={{ url_for("static", filename="style.css") }} />

</head>
<body>
	<div class="navbar">
		<a href={{ url_for("views.index") }}>dashboard</a>
		{% if name %}
		<a href={{ url_for("views.logout") }}>logout</a>
		{% else %}
		<a href={{ url_for("views.signup") }}>signup</a>
		<a href={{ url_for("views.login") }}>login</a>
		{% endif %}
	</div>

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		<ol>
			{% for category, message in messages %}
			<li class="{{ category }}" style="color: red;">{{ message }}</li>
			{% endfor %}
		</ol>
		{% endif %}
	{% endwith %}

	{% block content %}
	{% endblock %}

</body>
</html>
